.about{
	margin-top: 50px;
	margin-left: 170px;
	margin-right: 170px;
	display: flex;
	justify-content:space-between;
	&__left{
		font-size: 40px;
		h6{
			margin-bottom: 5px;
		}
		ul{
			list-style-type: circle;
			font-size: 22px;
			margin-left: 32px;
			li{
				margin-bottom: 8px;
			}
		}
	}
	&__right{
		margin-right: 130px;
		img{
			height: 200px;
			width: 200px;
		}
	}
}