.top{
	margin-top: 50px;
	margin-left: 170px;
	margin-right: 170px;
	margin-bottom: 120px;
	display: flex;
	justify-content:space-between;
	&__left{
		font-size: 66px;
	}
	&__right{
		img{
			height: 200px;
			width: 200px;
		}
	}
}