.top{
	margin-top: 50px;
	margin-left: 170px;
	margin-right: 170px;
	margin-bottom: 120px;
	display: flex;
	justify-content:space-between;
	&__left{
		font-size: 86px;
		letter-spacing: 5px;
		h5{
			margin-bottom: 40px;
		}
	}
	&__right{
		img{
			height: 350px;
			width: 350px;
		}
	}
}