.title{
	text-align:center;
	font-size: 30px;
	letter-spacing: 15px;
	font-family: Verdana, sans-serif;
	color: #444444;
}
.worksList{
	margin-top: 50px;
	margin-left: 170px;
	margin-right: 170px;
	margin-bottom: 70px;
	display: flex;
	justify-content:space-between;
	&__left{
		img{
			height: 400px;
			width: 500px;
		}
	}
	&__right{
		margin-left: 40px;
		line-height: 37px;
		&__title{
			text-align: center;
			font-size: 32px;
			margin-bottom: 20px;
		}
		&__text{
			font-size: 20px;
			a{
				color: blue;
			}
		}
		}
	
}